@import './variables/colors.scss';

.header {
	background: $background-gray;
	&__inner {
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__navigation {
		display: flex;
		align-items: flex-end;
	}
	&__link {
		text-decoration: none;
		font-size: 22px;
		color: $link-color;
		margin-right: 20px;
		font-weight: 500;
		transition: all 0.3s;
		&:hover {
			opacity: 0.8;
		}
	}
	&__button {
		background-color: transparent;
		border: none;
	}
}
.auth-form {
	display: flex;
	flex-direction: column;
	margin: 25px 50px;
	label {
		display: flex;
		flex-direction: column;
		width: 250px;
		margin-bottom: 25px;
		overflow: hidden;
		cursor: pointer;
	}
	&__input {
		margin-top: 5px;
		padding: 0 5px;
	}
	&__submit {
		background-color: $button-background;
		border: none;
		color: $button-text-color;
		padding: 10px 60px;
		border-radius: 10px;
		cursor: pointer;
		margin: 15px 0 25px;
		transition: all 0.3s;
		&:disabled {
			opacity: 0.3;
			&:hover {
				opacity: 0.3;
			}
		}
		&:hover {
			opacity: 0.8;
		}
	}
	&__error {
		color: red;
		max-width: 250px;
	}
}
.logout {
	margin: 25px 50px;
}
