@import './variables/colors.scss';

.header {
	background: $background-gray;
	&__inner {
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__navigation {
		display: flex;
		align-items: flex-end;
	}
	&__link {
		text-decoration: none;
		font-size: 22px;
		color: $link-color;
		margin-right: 20px;
		font-weight: 500;
		transition: all 0.3s;
		&:hover {
			opacity: 0.8;
		}
	}
	&__button {
		background-color: transparent;
		border: none;
	}
}
